<mat-card>
  <form (submit)="onAdicionarLivro(livroForm)" #livroForm="ngForm">
    <mat-form-field>
      <input type="text" matInput placeholder="Título" name="titulo" ngModel #titulo="ngModel" required minlength="4"/>
      <mat-error *ngIf="titulo.invalid">Digite um título válido</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input type="text" matInput placeholder="Autor" name="autor" ngModel #autor="ngModel" required minlength="4"/>
      <mat-error *ngIf="autor.invalid">Digite um autor válido</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input type="text" matInput placeholder="Número de Páginas" name="paginas" ngModel #paginas="ngModel" required/>
      <mat-error *ngIf="paginas.invalid">Digite um número de páginas válido</mat-error>
    </mat-form-field>
    <button color="primary" mat-raised-button>Inserir Livro</button>
  </form>
</mat-card>
